* {
  margin: 0;
  padding: 0;
}

.screen-container {
  width: 100%;
  padding: 30px 20px 30px 20px;
  display: flex;
}

.menu-container {
  height: 100%;
  background-color: #fff;
}

.layout-logo {
  font-weight: bold;
  color: #fff;
}

.form-card {
  width: 100%;
}

.signout-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.signout-button:hover {
  cursor: pointer;
  background-color: #154e7d;
}

.admin-layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}